* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
   text-decoration: none;
   color: #333;

}    

li {
    list-style: none;
}
img {
    width: 100%;
    display: block;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
/* header */
header {
    height: 160px;
    background:plum;
}
#logo {
    width: 150px;
    height: 70px;
    background:pink;
    position: relative;
    top: 13px;
    left: 50px;
}
#m_btn {
    width: 50px;
    height: 50px;
    background:honeydew;
    display: flex;
    position: absolute;
    top: 25px;
    right: 15px;   
    border-radius: 10px; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    z-index: 2;
}
#m_btn span {
    display: block;
    width: 35px;
    height: 5px;
    background:skyblue;
    transition: 0.3s;
}
#m_btn::before, #m_btn::after{
    content: "";
    display: block;
    width: 35px;
    height: 5px;
    background:skyblue;
    transition: 0.3s;
}
#m_btn.on span{
    opacity: 0;
}
#m_btn.on::before{
    transform: rotate(45deg);
    transform-origin: left;
    margin-left: 10px;
}
#m_btn.on::after{
    transform: rotate(-45deg);
    transform-origin: left;
    margin-left: 10px;
}
nav {
    position: fixed;
    top: 0;
    right: 0;
    background: white;
    width: 200px;
    height: 100%;
    box-shadow: -1px 0 2px gray;
    padding-top: 80px;
    display: none;
    z-index: 1;
}
nav>ul>li>a {
    display: block;
    padding: 10px;
    font-weight: bold;
    font-size: 1.2em;
    border-bottom: 1px solid #ccc;
}
nav>ul>li>ul a{
    display: block;
    font-size: 0.8em;
    padding: 10px 15px;
    /*안쪽여백 :상하 ,좌우*/
}
nav>ul>li>ul {
    display: none;
}

/****** 컨텐츠 *******/
section{
    padding: 10px;
    background-color: hotpink;
}
#content1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#content1 div{
    background-color: hotpink;
    width: 49%;
    height: fit-content;
    margin-bottom: 10px;
}
#content2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#content2 div{
    height: fit-content;
    margin-bottom: 10px;
}
#content2 div:nth-child(1){
    width: 100%;
} 
#content2 div:nth-child(2), #content2 div:nth-child(3){
    width: 49%;
} 
#content3 img {
    position: absolute;
}
#content3 img:nth-child(2),#content img:nth-child(3){
    display:none
}
footer {
    height: 100px;
    background: rgb(228, 228, 228);
    display: flex;
    justify-content: center;
    align-items: center;
}

/********** pc버전 **********/
@media all and (min-width:1024px){
    #m_btn{
        display: none;
    }
    nav{
        display: block;
        background: none;
        box-shadow: none;
        position: absolute;
        padding-top: 0;
        height: auto;
        top: 20px;
        width: 400px;
        right: 30px;
    }
    nav>ul{
        display: flex;
        justify-content: space-between;
    }
    #content1 div{
        width: 24%;
    }
    #content2 div:nth-child(1){
        width: 49%;
    }
    #content2 div:nth-child(2){
        width: 24%;
    }
    #content2 div:nth-child(3){
        width: 24%;
    }
}
